@use "../../style/variables.scss" as v;

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  .text {
    font-weight: 300;
    font-size: 24px;
  }

  .list {
    display: flex;
    flex-direction: column;

    .item {
      color: v.$blue;
    }
  }
}
