@import "../../style/variables.scss";

.header {
  border-image: $linear-blue 1;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;

  .content {
    height: 100px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navlist {
      display: flex;
      justify-content: center;
      gap: 60px;
      align-items: center;

      & li {
        font-weight: $light;
      }
    }

    .controls {
      display: flex;
      gap: 15px;
      align-items: center;

      .form {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 1.5em;
          aspect-ratio: 1;
          display: inline-block;
          top: 0.2em;
          left: 0.2em;
          background: url(../public/icons/search.svg) center/contain no-repeat;
        }

        & input {
          font-size: 16px;
          font-weight: $regular;
          line-height: 1.5;
          padding-left: 30px;
          padding-block: 5px;
          border-radius: 7px;
          border: 1px $light-grey solid;

          &::placeholder {
            font-weight: $light;
            color: black;
          }

          &:focus {
            outline: 2px #ff7e38 solid;
            border: none;
          }
        }
      }

      .cart {
        position: relative;

        & span {
          display: inline-block;
          width: 1.3em;
          text-align: center;
          border-radius: 50%;
          font-weight: 200;
          font-size: 12px;
          color: white;
          background-color: $light-blue;
          position: absolute;
          right: -0.5em;
          bottom: 0em;
        }
      }

      .account {
        font-weight: 300;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        & span {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          line-height: 1.5;
          cursor: default;
        }

        & span::before {
          content: "";
          display: inline-block;
          width: 7px;
          aspect-ratio: 1;
          background-color: $light-blue;
          border-radius: 50%;
          margin-right: 5px;
        }

        & button {
          background-color: transparent;
          padding: 5px;
          border-radius: 7px;

          &:hover {
            background-color: #b4b4b482;
          }
        }

        & img {
          width: 25px;
          aspect-ratio: 1;
          cursor: pointer;
        }
      }
    }
  }
}
