$linear-blue: linear-gradient(0.25turn, #0c69f44d, #0b68f4b3, #0c69f44d);
$linear-grey: linear-gradient(0.25turn, #4444441a, #101010b3, #4444441a);
$dark-blue: #042352;
$blue: #063a88;
$light-blue: #0c68f4;
$grey: #717171;
$light-grey: #b4b4b4;
$dark-grey: #2d2d2d;
$orange: #f45e0c;
$light-orange: #fddbc9;
$shadow: 1px 0px 10px -2px rgba(45, 45, 45, 0.2);

$light: 200;
$regular: 300;
$medium: 400;
$bold: 600;
